<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>Titre : {{ticket.title}}</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <i class="far fa-user"></i> {{ticket.student.id}} - {{ticket.student.nom}} {{ticket.student.prenom}}
  <i *ngIf="ticket.major=='SI'">
    <i class="fas fa-desktop" ></i> {{ticket.major}}
  </i>
  <i *ngIf="ticket.major=='GB'">
    <i class="fas fa-biohazard" ></i> {{ticket.major}}
  </i>
  <button type="submit" class="btn-custom" (click)="archiveTicket()">Archive</button>
</div>
