<div class="ticket-list">
  <div>
    <button type="submit" class="btn-custom" *ngIf="displayTicketArchived" (click)="hideArchived()">Hide Archived</button>
    <button type="submit" class="btn-custom" *ngIf="!displayTicketArchived" (click)="showArchived()">Show Archived</button>
  </div>

  <ng-container *ngFor="let ticket of ticketList">
    <div class="ticket" *ngIf="ticket.archived && displayTicketArchived || !ticket.archived && !displayTicketArchived">
      <!--Inputs & Output allow communication between parent & child components.-->
      <!--More information: https://angular.io/guide/component-interaction-->
      <app-ticket [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)"
                  (ticketHasBeenDeleted)="archiveTicket(ticket)"></app-ticket>
    </div>
  </ng-container>
</div>
